:root {
  --colors-yellow: #ffff80;
  --colors-pink: #ff80bf;
  --colors-purple: #9580ff;
  --colors-red: #ff9580;
  --colors-orange: #ffca80;
  --colors-green: #8aff80;
  --colors-cyan: #80ffea;
  --colors-primary: #f2f2f2;
  --colors-secondary: #8f9ba8;
  --colors-background: #08070b;
  --colors-hover: #212024;
  --colors-command: rgba(255, 255, 255, 0.05);
  --fonts-body: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --fonts-code: var(--font-code), "Fira Code", monospace;
  --fonts-heading: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --space-navHeightDesktop: 60px;
  --space-navHeightMobile: 110px;
  --transitions-duration: 0.2s;
  --radii-borderRadius: 8px;
}

* {
  font-family: var(--fonts-body);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  background: var(--colors-background);
  color: var(--colors-primary);
  max-width: 100vw;
  overflow-x: hidden;
}

kbd {
  color: var(--colors-background);
  background: var(--colors-secondary);
  padding: 1px 5px;
  border-radius: 4px;
  transition: background var(--transitions-duration) ease-in-out;
  font-family: var(--fonts-code);
  font-size: 14px;
}

svg {
  width: 32px;
  height: 32px;
  fill: white;
}

figure {
  margin: 0;
}

code {
  background: #151417;
  border-radius: var(--radii-borderRadius);
  color: var(--colors-primary);
  font-family: var(--fonts-code);
  font-size: 15px;
}

:not(pre) > code {
  padding: 4px;
}

h1 {
  font-family: var(--fonts-heading);
  font-size: 48px;
  line-height: 50px;
  margin: 0 0 20px;
  color: var(--colors-primary);
}

h2 {
  color: var(--colors-primary);
  margin: 60px 0 0;
  font-size: 24px;
}

h3,
h3 a {
  color: var(--colors-primary);
  font-size: 18px;
  margin: 20px 0 0;
}

ul {
  margin: 0;
}

img {
  border-radius: 8px;
  min-width: 100%;
  max-width: 100%;
}

p {
  margin: 20px 0;
  color: var(--colors-secondary);
}

strong {
  color: var(--colors-primary);
  font-weight: 500;
}

blockquote {
  border-left: 4px solid var(--colors-hover);
  color: var(--colors-secondary);
  font-style: italic;
  margin: 0;
  padding-left: 20px;
}

a {
  border-bottom: 0.5px solid var(--colors-secondary);
  color: var(--colors-primary);
  text-decoration: none;
  transition: opacity var(--transitions-duration) ease-in-out;
}

a:hover,
a:focus {
  opacity: 0.8;
}
